.title,
.short__day__of__week {
    @apply text-xl font-bold text-gray-400 pt-2 pb-1 pl-2;
}

.container__day {
    @apply flex flex-col p-1 bg-slate-100 shadow-slate-100 rounded-2xl;
}

.collection__header {
    @apply flex justify-between items-center;

    .collection__title {
        @apply text-lg font-bold px-2 py-2.5 truncate text-purple-600;
    }

    .collection__menu {

        button {
            @apply shadow-none border-none p-0;

        }

        button:focus-visible {
            @apply border-none;
        }
    }
}




.short__day__of__week {
    @apply uppercase;
}


.exercise__title {
    @apply text-lg font-bold px-2 pt-2.5 truncate;
}

.exercise__content {
    @apply flex justify-start px-2;

    div:first-child {
        @apply text-base font-bold text-gray-400 px-1;
    }

    div:last-child {
        @apply text-base font-light text-gray-400 px-1 truncate;
    }

}